<div>
    <h2> Añadir Cuidado </h2>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="cuidados">
        <label for="name"> Nombre del padre o madre </label>
        <select
            id="parentClients"
            formControlName="name">
            <option
                *ngFor="let parent of allParents"
                value={{parent.dni}}>
                <span>{{ parent.name}} {{parent.surnames}}</span>
            </option>
        </select>
        <!-- <input 
            type="text" 
            placeholder="Inserta nombre"
            formControlName="name"/> -->
        <br>
        <br>
        <label for="name"> Inserte el DNI </label>
        <input 
            type="text"
            maxlength="9"
            minlength="9"
            placeholder="Inserta DNI"
            formControlName="dni"/>
        <br>
        <br>
        <label for="surnames"> Seleccione Cuidador: </label>
        <select 
            name="parents" 
            id="parents"
            formControlName="parents">
            <option 
                *ngFor="let parent of parents"
                value={{parent.dni}}>
                <span>{{ parent.name}} </span>
            </option>
        </select>
        <br>
        <br>
        <label> Selecciona dia </label>
        <input type="date" formControlName="date"/>
        <br>
        <br>
        <label> Duración </label>
        <select 
            name="hours" 
            id="hours"
            formControlName="hours">
            <option value="1" >1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <br>
        <label> Descripción </label>
        <br>
        <textarea formControlName="description"></textarea>
        <br>
        <br>
        <button class="maginButton" type="submit">Añadir Cuidado</button>
        <button (click)="goBack()"> Volver listado </button>
    </form>
    <div *ngIf="!valid">
        <h2 style="color: red;">Faltan datos obligatorios</h2>
    </div>
    <div *ngIf="AddCare">
        <h2 style="color: green;">Cuidado aadido correctamente </h2>
    </div>
</div>

