<div>
    <h2> Padres </h2>
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="padres">
        <label for="name"> Inserte el DNI </label>
        <input 
            type="text" 
            placeholder="Inserta DNI"
            maxlength="9"
            formControlName="dni"/>
        <br>
        <br>
        <label for="name"> Name </label>
        <input 
            type="text" 
            placeholder="Inserta nombre"
            formControlName="name"/>
        <br>
        <br>
        <label for="surnames"> Apellidos </label>
        <input 
            type="text" 
            placeholder="Inserta Apellidos"
            formControlName="surnames"/>
        <br>
        <br>
        <label> Dia disponible </label>
        <input type="date" formControlName="date"/>
        <br>
        <br>
        <label> Horas para cuidar </label>
        <select 
            name="hours" 
            id="hours"
            formControlName="hours">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <br>
        <button class="maginButton" type="submit">Añadir Padre</button>
        <button (click)="goBack()"> Volver listado </button>
    </form>
    <div *ngIf="!valid">
        <h2 style="color: red;">Faltan datos obligatorios Revisa Dni 9 digitos</h2>
    </div>
</div>
