<h2>Lista de Cuidados </h2>
<div>
    <button 
        class="maginButton"
        (click)="addParent()"> Añadir Persona </button>
    <button
        (click)="addCare()"> Añadir cuidado </button>
</div>
<div *ngFor="let group of groups; let i = index">
    <ul class="listUl">
        <label>
            <p> Cuidado {{ i + 1 }}</p>
        </label>
        <li class="listIl">
            <label> Cliente: </label>
            <span>{{group.name}}</span>
            <br>
            <label> Cuidador: </label>
            <span>{{group.parents}}</span>
            <br>
            <label> Fecha: </label>
            <span>{{group.date}}</span>
            <br>
            <label> motivo: </label>
            <span>{{group.description}}</span>
        </li>
    </ul>
</div>
<div>
    <h3>Balance</h3>
    <div *ngFor="let parent of parents">
        <div *ngIf="parent.name !== ''">
            <label for="nameParent"> Cuidador: </label>
            <span>{{ parent.name }}</span> - Horas disponibles: <span [ngClass]="parent.hours < 0 ? 'red' : 'gree'"> {{ parent.hours }}h</span>
        </div>
    </div>
</div>
